<div class="login"><%= erb :_login_section %></div>

<div class="container">
  <h1>Please enter your URL below:</h1>
  <form action="/urls" method="post" class="home" name="shortener-form">
    <ul> 
      <li><input type="text" name="original_url" size="40"></li>
      <li><input type="submit" value="Shorten" class="btn-custom"></li>
      <li><p><a href="" class="account-creation">I want to create an account!</a></p></li>
    </ul>
  </form>
</div>



<div class="container create-user-account blank-display">
  <h1>Welcome! Create an account!</h1>
  <p></p>

  <form action="/user/new" method="post" class="home" name="create-form">
    <ul>
      <li>Name:<BR><input type="text" name="user[name]"></li><BR><BR>
      <li>Email Address:<BR><input type="text" name="user[email]"></li><BR><BR>
      <li>Password:<BR><input type="password" name="user[password]"></li><BR><BR>
      <li><input type="submit" value="Create" class="btn-custom"></li>
    </ul>  


  </form>
</div>


