<div class="container">
  <h1>Welcome to Bitly Redux!</h1>
  <form action="/urls" method="post" name="shortener-form">
    <ul> 
      <li>Input your url:
        <input type="text" name="original_url">
      </li>
      <li>
        <input type="submit" value="Shorten!">
      </li>
    </ul>
  </form>
</div>
