
<div>
  <% unless @url_error %>
    <h1>Thanks! Here is your shortend URL:</h1>
    <%= @url.shortened_url %>
  <% else %>
    <h1>WHOOPS!</h1>
    <%= "Please enter a correct URL" %>
  <% end %>
</div>
