
<div>
  <% unless @url_error %>
    <h1>Thanks! Here is your shortend URL:</h1>
    <a href="http://localhost:9292/url/<%= @url.shortened_url %>"><%= @url.shortened_url %></a>
  <% else %>
    <h1>WHOOPS!</h1>
    <%= "Please enter a correct URL" %>
  <% end %>
</div>
